# Python cache files
__pycache__/
*.py[cod]
*$py.class

.venv

/Electron-Frontend/node_modules
/Electron-Frontend/dist

.env.local

database.sqlite

Python-Backend/venv
Python-Backend/venvs
models/*

.DS_Store

*.tsbuildinfo

Collections/*

FileCollections

.dev.secret

VectorStores/*
Electron-Frontend/chroma_db/chroma.sqlite3

monitor_resources.ps1

Electron-Frontend/models/*
Python-Backend/models/*
test_curl.txt