@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
 :root {
    --gradient: #4ecdc4;
    --radius: 0.5rem;

    --background: 187 36.400000000000006% 4.48%;
    --foreground: 187 5.6000000000000005% 97.8%;

    --muted: 187 28.000000000000004% 16.8%;
    --muted-foreground: 187 5.6000000000000005% 55.6%;

    --popover: 187 53.8% 7.280000000000001%;
    --popover-foreground: 187 5.6000000000000005% 97.8%;

    --card: 187 53.8% 7.280000000000001%;
    --card-foreground: 187 5.6000000000000005% 97.8%;

    --border: 187 28.000000000000004% 16.8%;
    --input: 187 28.000000000000004% 16.8%;

    --primary: 187 56% 56%;
    --primary-foreground: 187 5.6000000000000005% 5.6000000000000005%;

    --secondary: 187 28.000000000000004% 16.8%;
    --secondary-foreground: 187 5.6000000000000005% 97.8%;

    --accent: 187 28.000000000000004% 16.8%;
    --accent-foreground: 187 5.6000000000000005% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 187 5.6000000000000005% 97.8%;

    --ring: 187 56% 56%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
